.contact {
    .info {
        margin-bottom: 75px;
        width: 100%;
        background: #fff;
        align-items: center;
        text-align: justify;
        justify-content: center;

        .address {
            margin-top: 40px;

            .icon {
                font-size: 20px;
                color: #0563bb;
                float: left;
                width: 44px;
                height: 44px;
                background: #eef7ff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                transition: all 0.3s;
            }

            h4 {
                padding: 0 0 0 60px;
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 5px;
                color: #45505b;
            }

            p {
                padding: 0 0 0 60px;
                margin-bottom: 0;
                font-size: 14px;
                color: #728394;
            }

            &:hover .icon{
                background: #0563bb;
                color: #fff;
            }
        }
    }
}