.hero {
    width: 100%;
    height: 40rem;
    background: url("../../asset/images/bg.JPG") top right no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        background: rgba(119, 157, 226, 0.39);
        color: rgba(32, 33, 36, 0.973);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .container {
        padding: 50px 50px 50px 50px;
        -webkit-animation: fade-up 1.5s linear;
        animation: fade-up 1.5s linear;
        color: rgb(37, 35, 35);

        h1 {
            margin: 0;
            font-size: 64px;
            font-weight: 700;
            line-height: 70px;
            color: $primary;
        }

        h2 {
            margin: 0;
            font-size: 64px;
            font-weight: 500;
            line-height: 50px;
        }
    
        p {
            margin: 15px 0 0 0;
            font-size: 26px;
            font-family: "Arial", sans-serif;
    
            .typed {
                color: rgba(13, 54, 238, 0.89);
                letter-spacing: 1px;
            }
        }
    }
}

@media (min-width: 992px) {
    .cover {
        padding-left: 160px;
        text-align: center;

        h1 {
            font-size: 32px;
            line-height: 36px;
        }

        p {
            margin-top: 10px;
            font-size: 20px;
            line-height: 24px;
        }
    }
}