.error-404 {
    background: currentColor;

    .container {
        width: 75%;
        background: $three;
        color: $four;
        padding: 50px;
        margin: 200px;
        position: absolute;
        overflow-x: hidden;
        align-items: center;
        text-align: center;
        border-radius: 10px $secondary solid;

        h1 {
            font-size: 100px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 700;
            font-stretch: expanded;
        }

        p {
            font-size: 20px;
            font-weight: 500;
        }
    }
}