.presentation {
    width: 100%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    padding-bottom: 30px;

    h1 {
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: $primary;

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 120px;
            height: 1px;
            background: $four;
            bottom: 1px;
            left: calc(50% - 60px);
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 40px;
            height: 3px;
            background: $secondary;
            bottom: 0;
            left: calc(50% - 20px);
        }
    }

    p {
        color: $primary;
        margin: 15px 0 0 0;
        font-size: 20px;
        font-family: "Arial", sans-serif;
    }
}