.text-card {
    margin: 5px;
    border-radius: 20px;
    
    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 20px;
            display: flax;
            align-items: center;
        }
        strong {
            margin-right: 10px;
        }

        i {
            font-size: 16px;
            margin-right: 5px;
            color: rgb(12, 73, 240);
            border-radius: 50%;
            line-height: 0;
        }
    }
}