.blog-card {
    .card-body {
        text-align: left;
    }

    .card-img-right {
        width: 250px;
        border-radius: 0 3px 3px 0;
    }

    .flex-auto {
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }
      
    .h-250 { height: 250px; }

    @media (min-width: 768px) {
        .h-md-250 { height: 250px; }
    }

    .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
}