.blog-main {
    color: $text-color;

    h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    }

    .blog-post {
        margin-bottom: 4rem;

        .blog-post-title {
            margin-bottom: .25rem;
            font-size: 2.5rem;
        }

        .blog-post-meta {
            margin-bottom: 1.25rem;
            color: $four;
        }
    }

    .blog-pagination {
        margin-bottom: 4rem;

        & > .btn {
            border-radius: 2rem;
            margin-left: 10px;
        }
    }
}