.jumbotron {
    height: 25em;
    width: 100%;
    background: url("../../../asset/bg/business1.jpg") top right no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        background: rgba(65, 112, 197, 0.404);
        color: white;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
}