$primary: linear-gradient(90deg, rgba(39, 48, 65, 0.911),rgba(39, 42, 56, 0.842));
$secondary: linear-gradient(90deg, rgba(53, 108, 226, 0.877),rgba(9, 49, 228, 0.973));
$three: linear-gradient(90deg, rgba(21, 87, 230, 0.822),rgba(13, 117, 235, 0.836));
$four: linear-gradient(90deg, rgba(255, 255, 255, 0.959),rgba(255, 255, 255, 0.904));
$five: linear-gradient(90deg, rgba(210, 224, 245, 0.863),rgba(229, 233, 238, 0.952));

$look: linear-gradient(45deg, rgba(223, 77, 10, 0.863),rgba(231, 34, 60, 0.918),rgba(9, 100, 238, 0.747));
$plan: rgba(159, 173, 201, 0.438);

$text-color: rgba(36, 40, 51, 0.952);

$topbar-base-height: 4.375rem !default;